<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Test mail</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        @media screen and (max-width: 768px) {
            table {
                min-width: auto;
                width: 100%;
            }
        }
        body {
            font-family: Raleway, serif;
            padding: 30px;
        }
    </style>

</head>
<body class="border border-blue-700 rounded-lg" >
<table class="border border-blue-700 rounded" align="center" border="0" cellpadding="0" cellspacing="0">
    <thead class="mt-10" >
    <!--    <tr >-->
    <!--        <th style="height: 25px; background-color: rgb(2, 149, 192)">&nbsp;</th>-->
    <!--    </tr>-->
    <tr>
        <th class="gradientBG" style="height: 85px; padding: 0 15px; background-image: url(https://i.postimg.cc/TYh7Mb65/Ums.jpg); background-position: center; background-size: cover;">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td style="padding: 30px 15px; font-size: 14px;">
            <p>Dear <b><span th:text="${username}">,</span></b><p>&nbsp;
            <p>You have created successfully account with the __UMS__ website! Thanks very much!</p>
            <p><b><i>Here is the detail information:</i></b></p>
            <p><b><i>Username:</i></b> <span th:text="${username}"></span></p>
            <p><b><i>First name:</i></b> <span th:text="${firstName}"></span></p>
            <p><b><i>age:</i></b> <span th:text="${age}"></span></p>
            <p><b><i>gender:</i></b> <span th:text="${gender}"></span></p>
            <p>Best Regards,</p>
            <p>Ekene.</p>
            &nbsp;&nbsp;
            <div class="flex text-3xl " >
                <p><i class="bi bi-facebook mr-4"></i></p>
                <p><i class="bi bi-instagram mr-4"></i></p>
                <p><i class="bi bi-twitter-x"></i></p>
            </div>
            <p class="text-xs" >[This is an automated message - please do not reply directly to this email]</p>
        </td>
    </tbody>
</table>
<!--<div class="tab grid justify-center items-center mt-10" >-->
<!--    <div class="h-60 w-12/12" style="background-image: url(https://i.postimg.cc/TYh7Mb65/Ums.jpg); background-position: center; background-size: cover;" >-->
<!--    </div>-->

<!--    <div class="grid text-md mt-5 w-7/12" >-->
<!--        <div class=" mb-5">Hello <span th:text="${firstName}" ></span></div>-->
<!--        &nbsp;-->
<!--        &nbsp;-->
<!--        <div class="mb-3" >-->

<!--            <div class=" ">Thank you for creating an account with ___UMS___. Your account details are as follows: </div>&nbsp;&nbsp;-->
<!--            <div class="flex mt-2">EmailPayload Address: <span class="ml-2" th:text="${email}" > </span></div>-->
<!--            <div class="flex ">Role: <span class="ml-2" th:text="${role}" ></span></div>-->
<!--        </div>-->
<!--        &nbsp;&nbsp;-->
<!--        <div>To sign in to your account, please visit-->
<!--            <a class="text-blue-700 hover:underline" href="http://localhost:8080/api/user/authenticate">http://localhost:8080/api/user/authenticate</a>-->
<!--            or-->
<!--            <a class="text-blue-700 hover:underline" href="http://localhost:8080/api/user/authenticate" >Click here</a>-->
<!--        </div>-->
<!--        &nbsp;-->
<!--        <div class="my-2" >If you have any questions regarding your account, click <a href="#" >Reply</a> in your email client and we'll be very happy to help</div>-->
<!--        &nbsp;&nbsp;-->
<!--        <div class="mt-3 font-bold" >-->
<!--            <div>___UMS___</div>-->
<!--            <div>Ekene</div>-->
<!--        </div>-->
<!--        &nbsp;-->
<!--    </div>-->
<!--    <div class="grid mt-10" >-->
<!--        <div class="text-xl text-blue-900 mb-2 font-bold" >Keep in touch</div>-->
<!--        <p class="flex text-3xl text-blue-900 cursor-pointer " >-->
<!--            <i class="bi bi-facebook mr-4"></i>-->
<!--            <i class="bi bi-instagram mr-4"></i>-->
<!--            <i class="bi bi-twitter-x"></i>-->
<!--        </p>-->
<!--    </div>-->
<!--    &nbsp;&nbsp;&nbsp;-->
<!--    <div class="font-bold mt-5" >This is an automated message - please do not reply directly to this email</div>-->

<!--</div>-->

</body>
</html>